<div class="jumbotron {{transitionState}}">
  <div class="well">
    <h1>All items</h1>
    <section class="filter">
      <input type="text" ng-model="query" placeholder="search by title" autofocus/>
      <select ng-model="order" placeholder="filter user by:">
        <option value="status" selected>status</option>
        <option value="name">name</option>
        <option value="category">category</option>
        <option value="owner">owner</option>
      </select>
    </section>
  </div>
  <section ng-controller="borrowController">
    <ul class="list-group">
      <li ng-repeat="itm in items | filter: query | orderBy:order" >
        <div ng-class='whatClassIsIt(itm)'>
          <item name="{{itm.name}}" owner="{{itm.owner}}" category="{{itm.category}}" swappable="{{checkSwapReady(itm)}}" period="{{itm.period}}"></item>
        </div>
      </li>
    </ul>
  </section>
</div>