
		<div class="login">
			<h2 class="login-title">Sign in to continue</h2>

			<div class="account-wall">
				<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
				alt="">

					<form class="form-signin" name="loginForm" ng-submit=submit()>
						<input type="text" id="username" ng-model="credentials.name" placeholder="login">
						<input type="password" id="password" ng-model="credentials.password" placeholder="password">
						<button class="login-btn abstact-button" type="submit">login</button>
					</form>


				<a href="#/register" class="new-account abstact-button">new account</a>
			</div>

		</div>




