<div class="container">
  <div class="navbar" ng-hide="showNavigation" role="navigation" ng-controller="NavigationController">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><h1>Swappers</h1></a>
        <span id="logged-as">logged in as: <strong>{{user}}</strong></span>
      </div>

        <ul class="nav">
          <li>
          <button id="logout_btn" ng-click="logout()"><i class="fa fa-sign-out"></i></button>
          <div class="nav-description">logout</div>
          </li>

          <li>
          <a alt="library" href="#" ng-click="checkLogin($event, 'library')" mac-tooltip="Tooltip on bottom" mac-tooltip-direction="bottom"><i class="fa fa-user"></i></a>
          <div class="nav-description">me</div>
          </li>
          <li>
          <a alt="user list" href="#" ng-click="checkLogin($event, 'userlist')"><i class="fa fa-users"></i></a>
          <div class="nav-description">users</div>
          </li>
          <li>
          <a alt="items" href="#" ng-click="checkLogin($event, 'items')"><i class="fa fa-database"></i></a>
          <div class="nav-description">items</div>
          </li>
          <li>
          <a alt="transaction" href="#" ng-click="checkLogin($event, 'transactions')"><i class="fa fa-exchange"></i></a>
          <div class="nav-description">swap</div>
          </li>
        </ul>

    </div><!--/.container-fluid -->
  </div>
</div>