<div class="jumbotron {{transitionState}}">

  <div class="well">
    <h1 ng-model="username">User directory of <strong>{{username}}</strong></h1>
    <section class="filter">
      <input type="text" ng-model="query" placeholder="search user" autofocus/>
      <select ng-model="order" placeholder="filter user by:">
        <option value="name">name</option>
        <option value="email">email</option>
      </select>
    </section>
  </div>
  <ul class="list-group" ng-controller="borrowController">
    <li class="list-group-item" ng-repeat="itm in items | filter: query | orderBy:order" ng-show="itm.status==1" ng-click="borrow($event, itm)">
      <item name="{{itm.name}}" owner="{{itm.owner}}" category="{{itm.category}}" swappable="true"></item>
    </li>
  </ul>

<div>