<a href="#" title="{{itm.description}}" ng-mouseover="itemOver()" ng-mouseleave="itemOut()" ng-click="selectItem($event)">

	<div ng-if="category == 'books'" class="item-icon">
		<img src="img/icons/book-icon.png">
	</div>
	<div ng-if="category == 'movies'" class="item-icon">
		<img src="img/icons/movie-icon.png">
	</div>
	<div ng-if="category == 'games'" class="item-icon">
		<img src="img/icons/game-icon.png">
	</div>
	<div ng-if="category == 'others'" class="item-icon">
		<img src="img/icons/other-icon.png">
	</div>
	<section class="item-content">

		<section ng-hide="timepick">
			<header ng-show="swap==false">
				<h4>{{name}}</h4>
				<span ng-hide="showPeriod">Owned by <strong>{{owner}}</strong></span>
				<span ng-show="showPeriod">Borrowed for <strong>{{period}}</strong> days</span>
			</header>


			<header ng-show="swap==true">
				<h4>click to borrow {{name}}</h4>
			</header>
		</section>


 		<section ng-show="timepick" class="time-selection">
			<label for="timerange">how many days would you like to have it?: </label>
			<input ng-model="time" id="timerange" type="number" size="2" value="1" min="1" max="100"/>
			<button class="confirm-swap-btn" ng-click="confirmSwap()">confirm</button>
			<button class="discard-swap-btn" ng-click="discardSwap()">x</button>
		</section>
	</section>




</a>